.fieldset{
    border: thin solid rgb(184, 180, 180);
    border-radius: 1%;
    margin: 0 auto;
    padding: 2em;
}

@media screen and (max-width: 280px) {
    .d-xs-flex{
        display: flex;
    }
}