.sidebar {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu-bars {
    margin-left: 90%;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    left: -115%;
    transition: 850ms;
    z-index: 99;
}

.nav-menu.active {
    left: -48px;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 32px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: grey;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 4px;
}

.nav-text a:hover {
    border-left: #1a83ff 3px solid;
    background-color: none;
}

.nav-menu-items {
    width: 100%;
}

.sidebar-toggle {
    background-color: rgb(255, 255, 255);
    width: 100%;
   /* height: 80px;*/
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}